@import "index.css";

.littleText{
    font-size: var(--LittleText);
}

.middleText{
    font-size: var(--MiddleText);
}

.logoText{
    font-size: var(--LogoText);
}

.titleText{
    font-size: var(--TitleText);
}

.hugeText{
    font-size: var(--HugeText);
}