.modal_overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal_box {
    display: block;
    background: white;
    width: 20%;
    height: 25%;
    padding: 1rem;
    border-radius: 1rem;
}

.modalBoxInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}